body {
  font-family: Arial, sans-serif;
}

.nav-item {
  border-left: 1px solid white;
  margin-left: 30px;
  padding-left: 30px;
 
}


.btn-sign-out {
  background-image: #fefefe;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
}

.d-flex .btn-gap {
  margin-left: 40px;
}

.d-flex span {
  font-size: 20px;
  padding-right: 20px;
  color: white;
}

.form-text {
  font-size: 13px;
  color: black;
}
